<div>
  <link href="./petitions.css" rel="stylesheet" />
  <section class="petitions-petitions">
    <div class="petitions-images">
      <img
        alt="https://img.freepik.com/free-vector/volunteer-charity-social-set-isolated-icons-with-human-characters-kids-adults-volunteering-works-vector-illustration_1284-71752.jpg?w=740&t=st=1692464676~exp=1692465276~hmac=a2bfd9fa3514936f607d560843e18c036b1cbdfa738d05f281a0e8a4eeb0a475"
        src="https://img.freepik.com/free-vector/volunteer-charity-social-set-isolated-icons-with-human-characters-kids-adults-volunteering-works-vector-illustration_1284-71752.jpg?w=740&t=st=1692464676~exp=1692465276~hmac=a2bfd9fa3514936f607d560843e18c036b1cbdfa738d05f281a0e8a4eeb0a475"
        class="petitions-image"
      />
    </div>
    <div class="petitions-content">
      <div class="petitions-main">
        <div class="petitions-header">
          <h2 class="petitions-heading">
            <span>
              "Ready to make a difference? Register with us and become a
              volunteer for a brighter world."
            </span>
          </h2>
          <p class="petitions-caption">
            <span>
              Every effort, no matter how modest, can make a positive impact on
              individuals, communities, and society as a whole
            </span>
          </p>
        </div>
      </div>
      <div class="petitions-button">
        <button class="button">
          <span><span>Sign up</span></span>
        </button>
      </div>
    </div>
  </section>
</div>
