.petitions-petitions {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: 120px;
  justify-content: center;
}
.petitions-images {
  flex: 1;
  display: flex;
  position: relative;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
}
.petitions-image {
  width: 498px;
  height: 402px;
  object-fit: cover;
}
.petitions-content {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 560px;
  align-items: flex-start;
  flex-direction: column;
}
.petitions-main {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.petitions-header {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.petitions-heading {
  color: rgb(34, 34, 35);
  font-size: 40px;
  font-style: normal;
  font-family: Lora;
  font-weight: 500;
  line-height: 52px;
}
.petitions-caption {
  color: rgb(34, 34, 35);
  font-size: 18px;
  line-height: 27px;
}
.petitions-button {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
@media(max-width: 991px) {
  .petitions-petitions {
    padding-top: 0px;
    flex-direction: column-reverse;
    padding-bottom: var(--dl-space-space-sixunits);
  }
  .petitions-images {
    width: 100%;
  }
  .petitions-image {
    flex: 1;
    width: 100%;
  }
  .petitions-content {
    max-width: 100%;
  }
  .petitions-button {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .petitions-petitions {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .petitions-petitions {
    gap: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .petitions-heading {
    font-size: 30px;
    line-height: 40px;
  }
  .petitions-caption {
    color: rgb(34, 34, 35);
    line-height: 24px;
  }
}
